{{>header}}
{{>navbar}}
{{>breadcrumb}}

<div class="container-fluid backblack">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      {{>sidebar}}
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <h1 class="text-center py-3 mb-3 rounded shadow-sm sidebar">
        Admin Home
      </h1>

      <div class="row g-4 align-items-center">
        <!-- Profile Image -->
        <div class="col-md-5 text-center">
          <img src="/assets/img/userlogo/user pic.jpg"  alt="Admin Profile" height="300" width="300"  
               class="img-fluid rounded shadow-lg border border-3 border-primary">
        </div>

        <!-- Profile Table -->
        <div class="col-md-7">
          <table class="table table-bordered sidebar fw-bold">
            <tbody>
              <tr>
                <th class="text-center  k w-25">Name</th>
                <td class="text-center fw-bolder k">Suraj</td>
              </tr>
              <tr>
                <th class="text-center  k">User Name</th>
                <td class="text-center fw-bolder k">Suraj Singh Bangari</td>
              </tr>
              <tr>
                <th class="text-center  k">Phone</th>
                <td class="text-center fw-bolder k">1158656566</td>
              </tr>
              <tr>
                <th class="text-center  k">Email</th>
                <td class="text-center fw-bolder k">fkfm@gmail.com</td>
              </tr>
              <tr>
                <th class="text-center  k">Role</th>
                <td class="text-center fw-bolder k">Admin</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">
                  <a href="/admin/profile/update" 
                     class="btn btn-gradient w-100 text-light fw-bold shadow-sm">
                     Update Profile
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{>footer}}