<!-- START PAGEBREDCUMS -->
<div class="page-banner page-banner-overlay mb-4" data-background="/assets/img/bg/banner-bg.jpg">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 my-auto">
        <div class="page-banner-content text-center">
          <h1 class="text-white page-banner-title">{{page}}</h1>
          <div class="page-banner-breadcrumb mt-2">
            <p><a href="/">Home</a> {{title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-banner-shape"></div>
</div>
<!-- END PAGEBREDCUMS -->