 <!-- START COUNTER SECTION -->
      <section id="counter" class="counter-padding overlay section-back-image" data-background="assets/img/bg/counter-bg.jpg">
         <div class="auto-container">
            <div class="row">
               <div class="col-lg-8 col-md-8 col-12 mx-lg-auto mx-md-auto mx-0">
                  <div class="counter-info">
                     <div class="counter-icon">
                        <i class="icofont-history"></i>
                     </div>
                     <div class="counter-des">
                        <h2><span>Doing the right thing, </span> <br> at the right time</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mt-5 wow fadeInUp">
               <div class="col-lg-8 col-md-8 col-12 mx-lg-auto mx-md-auto mx-0 text-lg-left text-md-left text-center">
                  <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                        <div class="single-counter-item">
                           <h4 class="timer">121</h4>
                           <p>Quality Teachers</p>
                        </div>
                     </div>
                     <!-- End single counter item -->
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                        <div class="single-counter-item">
                           <h4 class="timer">342</h4>
                           <p>Enrolled Students</p>
                        </div>
                     </div>
                     <!-- End single counter item -->
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-4">
                        <div class="single-counter-item">
                           <h4 class="timer">434</h4>
                           <p>Satisfied Parents</p>
                        </div>
                     </div>
                     <!-- End single counter item -->
                     <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="single-counter-item">
                           <h4 class="timer">562</h4>
                           <p>Successful Events</p>
                        </div>
                     </div>
                     <!-- End single counter item -->
                  </div>
               </div>
            </div>
         </div>
         <!--- END CONTAINER -->
      </section>
      <!-- END COUNTER SECTION -->