 <!-- START FAQ PAGE SECTION -->
      <section id="faq" class="section-padding">
         <div class="auto-container">
            <div class="row text-center">
               <div class="col-lg-8 col-md-8 col-12 mx-auto">
                  <div class="search-box-wrap">
                     <h2>Hello? How can we help?</h2>
                     <form class="search-box shadow mt-5">
                       <div class="search-body row no-gutters align-items-center">
                           <div class="col">
                               <input class="form-control form-control-lg search-box-form-control" type="search" placeholder="Ask a question...">
                           </div>
                           <!--end of col-->
                           <div class="col-auto">
                               <button class="btn btn-lg btn-search" type="submit">Search</button>
                           </div>
                           <!--end of col-->
                       </div>
                     </form>
                     <P>Or select a topic to quickly find the help you need</P>
                  </div>
               </div>
            </div>
            <!-- end row -->
            <div class="row text-center mb-5">
               <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-faq-box">
                     <i class="icofont-search-user"></i>
                     <h4>Guides</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-faq-box">
                     <i class="icofont-comment"></i>
                     <h4>FAQ</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-4 col-md-4 col-12">
                  <div class="single-faq-box">
                     <i class="icofont-users-social"></i>
                     <h4>Community</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row mb-5">
               <div class="col-lg-10 col-md-10 col-12 mx-auto">
                  <div class="faq-lis-heading text-center">
                     <h2>Still have some questions?</h2>
                     <P>Check our FAQ:</P>
                  </div>
                  <div class="faq-list">
                     <div class="panel-group faq-home-accor" id="accordion">
                        <div class="panel panel-default mb-3">
                           <div class="panel-heading">
                              <h5 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Where will I find the teachers list? <i class=" text-dark icofont icofont-minus"></i></a>
                              </h5>
                           </div>
                           <div id="panel1" class="panel-collapse collapse show">
                              <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default mb-3">
                           <div class="panel-heading">
                              <h5 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">What can I expect on the first day? <i class=" text-dark icofont icofont-plus"></i></a>
                              </h5>
                           </div>
                           <div id="panel2" class="panel-collapse collapse">
                              <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Where do I drop off my child? <i class=" text-dark icofont icofont-plus"></i></a>
                              </h5>
                           </div>
                           <div id="panel3" class="panel-collapse collapse">
                              <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel4">What electives can my student choose? <i class=" text-dark icofont icofont-plus"></i></a>
                              </h5>
                           </div>
                           <div id="panel4" class="panel-collapse collapse">
                              <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
                              </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h5 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel5">Can my student participate in sports? <i class=" text-dark icofont icofont-plus"></i></a>
                              </h5>
                           </div>
                           <div id="panel5" class="panel-collapse collapse">
                              <div class="panel-body text-dark">
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla velmetus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end row -->
            <div class="row">
               <div class="col-lg-10 col-md-10 col-12 mx-auto">
                  <div class="faq-lis-heading text-center">
                     <h2>Do Not Find Your Questions?</h2>
                     <P>Submit Your Question Bellow:</P>
                  </div>
                  <div class="faq-contact-form-wrap">
                     <form class="faq-contact-form contact-form">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <input type="text" class="form-control" id="firstName" placeholder="John" required>
                                 <label for="firstName">First Name*</label>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <input type="text" class="form-control" id="lastName" placeholder="Doe" required>
                                 <label for="lastName">Last Name*</label>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <input type="email" class="form-control" id="email" placeholder="example@xyz.com" required>
                                 <label for="email">Email*</label>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <input type="text" class="form-control" id="contactNumber" placeholder="xxx-xxx-xxxx" required>
                                 <label for="contactNumber">Contact Number*</label>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <input type="text" class="form-control" id="company" placeholder="Company Name" required>
                                 <label for="company">Company*</label>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <input type="text" class="form-control" id="webSite" placeholder="http://xyz.com" required>
                                 <label for="webSite">Website*</label>
                              </div>
                           </div>
                        </div>
                        <div class="form-group form-message">
                           <textarea class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                           <label for="message">Message</label>
                        </div>
                        <div class="text-center wow fadeInUp">
                           <button type="submit" class=" btn faq-btn">Submit Now</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
      </section>
      <!-- END FAQ PAGE SECTION -->