<!-- START SERVICES SECTION -->
      <section id="services" class="section-padding">
         <div class="auto-container">
            <div class="row">
               <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
                  <div class="section-title">
                     <h6 class="theme-color">Think Out Side The Box</h6>
                     <h2>Why Choose Nekaton</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
               </div>
            </div>
            <!-- end section title -->
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                  <div class="single-service-item shadow bg-white">
                     <div class="icon-holder mb-3">
                        <div class="service-item-icon-bg">
                           <i class="icofont-read-book"></i> 
                        </div>
                     </div>
                     <div class="service-item-text-holder">
                        <h4>Books & Library</h4>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
                        <a class="thm-btn" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <!-- End single service item -->
               <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0 mb-sm-4 mb-4">
                  <div class="single-service-item shadow bg-white">
                     <div class="icon-holder mb-3">
                        <div class="service-item-icon-bg">
                           <i class="icofont-teacher"></i>
                        </div>
                     </div>
                     <div class="service-item-text-holder">
                        <h4>Quality Teachers</h4>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
                        <a class="thm-btn" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <!-- End single service item -->
               <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0">
                  <div class="single-service-item shadow bg-white">
                     <div class="icon-holder mb-3">
                        <div class="service-item-icon-bg">
                           <i class="icofont-certificate-alt-1"></i>
                        </div>
                     </div>
                     <div class="service-item-text-holder">
                        <h4>Great Certification</h4>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer possim assum.</p>
                        <a class="thm-btn" href="#">READ MORE</a>
                     </div>
                  </div>
               </div>
               <!-- End single service item -->
            </div>
         </div>
         <!--- END CONTAINER -->
      </section>
      <!-- END SERVICES SECTION -->