 <!-- START PORTFOLIO SECTION -->
      <section id="portfolio" class="section-padding">
         <div class="auto-container">
            <div class="row">
               <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
                  <div class="section-title">
                     <h6 class="theme-color">We love our work</h6>
                     <h2>Image Gallery</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
               </div>
            </div>
            <!-- end section title -->
            <div class="row mb-5">
               <div class="col-12 mx-auto text-center wow fadeInDown">
                  <div class="portfolio-filter-menu">
                     <ul>
                        <li class="filter active"  data-filter="*">All Works</li>
                        <li class="filter"  data-filter=".one">Learning</li>
                        <li class="filter"  data-filter=".two">Games</li>
                        <li class="filter"  data-filter=".three">School</li>
                        <li class="filter"  data-filter=".four">Class</li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- end portfolio menu list -->
            <div class="row project-list">
               <div class="col-lg-4 col-md-6 col-12 mb-lg-4 mb-md-4 mb-4 two">
                  <figure class="portfolio-sin-item">
                     <img class="img-fluid" src="assets/img/gallery/5.jpg" alt="" />
                     <figcaption>
                        <h3>Portfolio Title</h3>
                        <div class="port-icon mt-3">
                           <a class="icon-ho venobox" href="assets/img/gallery/5.jpg" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont-eye"></i></a>
                           <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
                        </div>
                     </figcaption>
                  </figure>
               </div>
               <!--  end single item -->
               <div class="col-lg-4 col-md-6 col-12 mb-lg-4 mb-md-4 mb-4 four">
                  <figure class="portfolio-sin-item">
                     <img class="img-fluid" src="assets/img/gallery/2.jpg" alt="" />
                     <figcaption>
                        <h3>Portfolio Title</h3>
                        <div class="port-icon mt-3">
                           <a class="icon-ho venobox" href="assets/img/gallery/2.jpg" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont-eye"></i></a>
                           <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
                        </div>
                     </figcaption>
                  </figure>
               </div>
               <!--  end single item -->
               <div class="col-lg-4 col-md-6 col-12 mb-lg-4 mb-md-4 mb-4 two four">
                  <figure class="portfolio-sin-item">
                     <img class="img-fluid" src="assets/img/gallery/6.jpg" alt="" />
                     <figcaption>
                        <h3>Portfolio Title</h3>
                        <div class="port-icon mt-3">
                           <a class="icon-ho venobox" href="assets/img/gallery/6.jpg" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont-eye"></i></a>
                           <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
                        </div>
                     </figcaption>
                  </figure>
               </div>
               <!--  end single item -->
               <div class="col-lg-4 col-md-6 col-12 two mb-md-4 mb-4 one three">
                  <figure class="portfolio-sin-item">
                     <img class="img-fluid" src="assets/img/gallery/1.jpg" alt="" />
                     <figcaption>
                        <h3>Portfolio Title</h3>
                        <div class="port-icon mt-3">
                           <a class="icon-ho venobox" href="assets/img/gallery/1.jpg" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont-eye"></i></a>
                           <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
                        </div>
                     </figcaption>
                  </figure>
               </div>
               <!--  end single item -->
               <div class="col-lg-4 col-md-6 col-12 mb-4 two one">
                  <figure class="portfolio-sin-item">
                     <img class="img-fluid" src="assets/img/gallery/4.jpg" alt="" />
                     <figcaption>
                        <h3>Portfolio Title</h3>
                        <div class="port-icon mt-3">
                           <a class="icon-ho venobox" href="assets/img/gallery/4.jpg" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont-eye"></i></a>
                           <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
                        </div>
                     </figcaption>
                  </figure>
               </div>
               <!--  end single item -->
               <div class="col-lg-4 col-md-6 col-12 one three four">
                  <figure class="portfolio-sin-item">
                     <img class="img-fluid" src="assets/img/gallery/3.jpg" alt="" />
                     <figcaption>
                        <h3>Portfolio Title</h3>
                        <div class="port-icon mt-3">
                           <a class="icon-ho venobox" href="assets/img/gallery/3.jpg" data-title="PORTFOLIO TITTLE" data-gall="gall1"><i class="icofont-eye"></i></a>
                           <a class="icon-ho" href="#"><i class="icofont-link"></i></a>
                        </div>
                     </figcaption>
                  </figure>
               </div>
               <!--  end single item -->
            </div>
            <div class="row mt-4">
               <div class="col-12 mx-auto text-center wow fadeInDown">
                  <a href="#" class="port-btn">Load More <i class="icofont-bubble-right"></i></a>
               </div>
            </div>
         </div>
         <!--- END CONTAINER -->
      </section>
      <!-- END PORTFOLIO SECTION -->