<div class="list-group shadow-lg rounded ms-2 sidebar mb-4">

  <a href="/admin" class="list-group-item list-group-item-action d-flex align-items-center ">
    <i class="bi bi-house-door-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold ">Home</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-question-circle-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Enquiry</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-telephone-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Contact Us</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-info-circle-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">About Us</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-people-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Team</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-chat-quote-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Testimonial</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-images me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Gallery</span>
  </a>

  <a href="/admin/events" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-calendar-event-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Events</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-question-lg me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">FAQ</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-stars me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Features</span>
  </a>

  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-building-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Departments</span>
  </a>

  <a href="/admin/setting" class="list-group-item list-group-item-action d-flex align-items-center">
    <i class="bi bi-gear-fill me-2 text-white"></i>
    <span class="flex-grow-1 text-center  fw-bold">Setting</span>
  </a>

</div>