 <!-- START TESTIMONIAL PAGE SECTION -->
      <section id="testimonial" class="section-padding">
         <div class="auto-container">
            <div class="row mb-lg-5 mb-0">
               <div class="col-lg-6 col-md-6 col-12 mb-5">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/1.png" alt="">
                        <h4>Jone Doe</h4>
                        <span>Artist</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12 mb-5">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/2.png" alt="">
                        <h4>Mark Doe</h4>
                        <span>Doctor</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12 mb-5">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/3.png" alt="">
                        <h4>Mahan Selon</h4>
                        <span>Lawyer</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12 mb-5">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/4.png" alt="">
                        <h4>Sive Jisan</h4>
                        <span>Businessman</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/5.png" alt="">
                        <h4>Irfan Hasan</h4>
                        <span>Doctor</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-6 col-12">
                  <div class="testimonial-style-2">
                     <div class="testimonial-style-2-left">
                        <img class="testimonial-thumb rounded-circle" src="assets/img/testimonial/6.png" alt="">
                        <h4>Koli Sams</h4>
                        <span>Developer</span>
                     </div>
                     <div class="testimonial-style-2-right rounded">
                        <p>Pellentesque Sed ut perspiciatis unde omnis iste natus error sitre voluptatem accusantium udema doloremque laudantium, totarmd aperiam, eaque ipsa quae ab illa inventore veritati.</p>
                     </div>
                  </div>
               </div>
               <!-- end col -->
            </div>
         </div>
      </section>
      <!-- END TESTIMONIAL PAGE SECTION -->